@mixin fontStyle($size, $space, $height, $weight, $color) {
  font-size: $size;
  letter-spacing: $space;
  line-height: $height;
  font-weight: $weight;
  color: $color;
}

// MEDIA

@mixin responsive($size) {
  @if $size == desktop {
    @media only screen and (max-width: 1200px) {
      @content;
    }
  } @else if $size == laptop {
    @media only screen and (max-width: 1000px) {
      @content;
    }
  } @else if $size == secondLaptop {
    @media only screen and (max-width: 884px) {
      @content;
    }
  } @else if $size == firstTablet {
    @media only screen and (max-width: 840px) {
      @content;
    }
  } @else if $size == tablet {
    @media only screen and (max-width: 700px) {
      @content;
    }
  } @else if $size == tablet2 {
    @media only screen and (max-width: 582px) {
      @content;
    }
  } @else if $size == firstMobile {
    @media only screen and (max-width: 470px) {
      @content;
    }
  } @else if $size == mobile {
    @media only screen and (max-width: 375px) {
      @content;
    }
  }
}
